<!-- Start ML Main Banner Area -->
<div class="ml-main-banner-area">

    <div class="container">
        <div class="section-title" >
            <h2>Categories</h2>
        </div>
<!--        <div class="section-title with-underline-text">-->
<!--            <h2>We Offer Professional <b>Solutions</b> With Artificial Intelligence</h2>-->
<!--            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. A ac, ut eget pellentesque nulla viverr.</p>-->
<!--        </div>-->

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-card">
                    <div class="image-icon">
                        <img src="assets/img/home-six/services/icon1.png" alt="icon">
                    </div>
                    <h3>
                        <a routerLink="/equity">Equity Research</a>
                    </h3>
                    <p>Lorem ipsum dolor sit am adipiscing elit sed do eiusmod lorem ipsum dolor sit am adipiscing elit sed do eiusmod.</p>
                    <a routerLink="/equity" class="read-btn">Read More</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-card">
                    <div class="image-icon bg-two">
                        <img src="assets/img/home-six/services/icon2.png" alt="icon">
                    </div>
                    <h3>
                        <a routerLink="fixed-income">Fixed Income</a>
                    </h3>
                    <p>Lorem ipsum dolor sit am adipiscing elit sed do eiusmod lorem ipsum dolor sit am adipiscing elit sed do eiusmod.</p>
                    <a routerLink="fixed-income" class="read-btn">Read More</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-card">
                    <div class="image-icon bg-three">
                        <img src="assets/img/home-six/services/icon3.png" alt="icon">
                    </div>
                    <h3>
                        <a routerLink="bond-market">Bond Market</a>
                    </h3>
                    <p>Lorem ipsum dolor sit am adipiscing elit sed do eiusmod lorem ipsum dolor sit am adipiscing elit sed do eiusmod.</p>
                    <a routerLink="bond-market" class="read-btn">Read More</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-card">
                    <div class="image-icon bg-four">
                        <img src="assets/img/home-six/services/icon4.png" alt="icon">
                    </div>
                    <h3>
                        <a routerLink="corporate">Corporate Research</a>
                    </h3>
                    <p>Lorem ipsum dolor sit am adipiscing elit sed do eiusmod lorem ipsum dolor sit am adipiscing elit sed do eiusmod.</p>
                    <a routerLink="corporate" class="read-btn">Read More</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-card">
                    <div class="image-icon bg-five">
                        <img src="assets/img/home-six/services/icon5.png" alt="icon">
                    </div>
                    <h3>
                        <a routerLink="market-data">Market Data</a>
                    </h3>
                    <p>Lorem ipsum dolor sit am adipiscing elit sed do eiusmod lorem ipsum dolor sit am adipiscing elit sed do eiusmod.</p>
                    <a routerLink="market-data" class="read-btn">Read More</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-card">
                    <div class="image-icon bg-six">
                        <img src="assets/img/home-six/services/icon6.png" alt="icon">
                    </div>
                    <h3>
                        <a routerLink="report">Report</a>
                    </h3>
                    <p>Lorem ipsum dolor sit am adipiscing elit sed do eiusmod lorem ipsum dolor sit am adipiscing elit sed do eiusmod.</p>
                    <a routerLink="report" class="read-btn">Read More</a>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="ai-all-services-btn">
                    <a routerLink="projects" class="btn btn-primary">View All Services</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Main Services Area -->
<!--    <section class="main-services-area ptb-110">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-4 col-sm-6 col-md-6">-->
<!--                    <div class="single-main-services-box">-->
<!--                        <div class="icon">-->
<!--                            <i class="flaticon-robot-1"></i>-->
<!--                        </div>-->
<!--                        <h3><a href="#">Robotic Process Automation</a></h3>-->
<!--                        <p>Lorem ipsum dolor consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. Ut enim ad minim veniam.</p>-->
<!--                        <a href="#" class="link-btn">Read More</a>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-lg-4 col-sm-6 col-md-6">-->
<!--                    <div class="single-main-services-box">-->
<!--                        <div class="icon">-->
<!--                            <i class="flaticon-neural"></i>-->
<!--                        </div>-->
<!--                        <h3><a href="#">Machine Learning</a></h3>-->
<!--                        <p>Lorem ipsum dolor consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. Ut enim ad minim veniam.</p>-->
<!--                        <a href="#" class="link-btn">Read More</a>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-lg-4 col-sm-6 col-md-6 offset-lg-0 offset-md-3 offset-sm-3">-->
<!--                    <div class="single-main-services-box">-->
<!--                        <div class="icon">-->
<!--                            <i class="flaticon-machine-learning"></i>-->
<!--                        </div>-->
<!--                        <h3><a href="#">Cognitive Engagement</a></h3>-->
<!--                        <p>Lorem ipsum dolor consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. Ut enim ad minim veniam.</p>-->
<!--                        <a href="#" class="link-btn">Read More</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-lg-4 col-sm-6 col-md-6">-->
<!--                    <div class="single-main-services-box">-->
<!--                        <div class="icon">-->
<!--                            <i class="flaticon-robot-1"></i>-->
<!--                        </div>-->
<!--                        <h3><a href="#">Robotic Process Automation</a></h3>-->
<!--                        <p>Lorem ipsum dolor consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. Ut enim ad minim veniam.</p>-->
<!--                        <a href="#" class="link-btn">Read More</a>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-lg-4 col-sm-6 col-md-6">-->
<!--                    <div class="single-main-services-box">-->
<!--                        <div class="icon">-->
<!--                            <i class="flaticon-neural"></i>-->
<!--                        </div>-->
<!--                        <h3><a href="#">Machine Learning</a></h3>-->
<!--                        <p>Lorem ipsum dolor consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. Ut enim ad minim veniam.</p>-->
<!--                        <a href="#" class="link-btn">Read More</a>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-lg-4 col-sm-6 col-md-6 offset-lg-0 offset-md-3 offset-sm-3">-->
<!--                    <div class="single-main-services-box">-->
<!--                        <div class="icon">-->
<!--                            <i class="flaticon-machine-learning"></i>-->
<!--                        </div>-->
<!--                        <h3><a href="#">Cognitive Engagement</a></h3>-->
<!--                        <p>Lorem ipsum dolor consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. Ut enim ad minim veniam.</p>-->
<!--                        <a href="#" class="link-btn">Read More</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <!-- End Main Services Area -->


</div>
<!-- End ML Main Banner Area -->


<app-partner-area></app-partner-area>

<app-free-trial-area></app-free-trial-area>

